.App-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  height: 60px; /* Adjust as needed */
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.map-wrapper {
  flex-grow: 1; /* Ensure this takes up remaining space */
  display: flex; /* Helps nested children expand */
}

.map-container {
  flex-grow: 1;
  height: 100%;
}
